header {
    background-color: #FFFFFF;
}
nav li{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
nav a:link, nav a:visited {
    background-color: #CCCCCC;
    color: #0D0D0D;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
}
#logo{
    height: 200px;
    width: 200px;
}