@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}
body {
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    min-height: 200vh;
}
header {
    display: flex;
    background-color: #f0f0f0;
    justify-content: space-between;
    padding-top: .25rem;
    padding-bottom: .25rem;
    width: 100%;
    z-index: 30;
    height: 100px;
}
#logo {
    height: 80%;
    width: auto;
    left: 20px;
    display: block;
    margin-left: 1.5rem;
    margin-top: .85rem;
}

.menu-overlay {
    position: fixed;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: 2;
}
.bold {
    font-weight: 700;
}
.fixed {
    position: fixed;
}
#main-menu {
    display: none;
    height: 100px;
    width: 100%;
    margin: 0px;  
    z-index: 9;
}
#main-menu ul {
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0px 2rem auto auto;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 9; /* always on top essentially*/
}
#main-menu li { /* get rid of the styling on the list*/
    list-style-type: none;
    font-size: 2rem; /* font relative to the root size of 20px  */
}
#main-menu a {
    color: #1A5632;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 1rem .5rem 1rem .5rem;

}
#main-menu a:hover {
    color: #1A5632cc;
}
#hamburger-box{
    display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: inline;
    border: none;
    padding: 0px;
    margin: 0px;
    background-image: url(./images/icons8-menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -250px;
    width: 200px;
    height: 100%;
    background-color: rgba(221, 221, 221, 0.95);
    transition: 0.3s ease-in-out;
    padding: 0px 10px;
}

#hamburger-menu h3 {
  color: #1A5632;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #1A5632;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  color: #1A5632cc;
}

#hamburger-box:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    right: 0;
}
#hamburger-box:checked ~ .menu-overlay{
   visibility: visible;
   opacity: 0.4;
}


@media screen and (min-width: 768px) {
    #main-menu {
        display: block;
    }
    #hamburger-menu {
        display: none;
    }
}
main {
    padding-top: 100px;
}
footer {
    background-color: #011341;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}