header {
    background-color: #FFFFFF;
}
nav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}
nav #myLinks {
    display: none;
}
nav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
nav a:link, nav a:visited {
    background-color: #CCCCCC;
    color: #0D0D0D;
    padding: 14px 16px;
    border: 2px yellow solid;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    display: block;
} 
nav a:hover {
    background-color: #ddd;
    color: black;
}
#logo {
    height: 100px;
    width: 100px;
}
